public/NeuroMLValidator/NeuroMLFiles/Schemata/Miscellaneous/OldNeuroML.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- generated by SchemaOut (Fred Howell) -->
<xsd:schema targetNamespace="http://www.neuroml.org/schemas/1.0.0" 
xmlns="http://www.neuroml.org/schemas/1.0.0" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 elementFormDefault="qualified" attributeFormDefault="unqualified">
 
       <xsd:annotation>
        <xsd:documentation>The old NeuroML Schema. NOTE: this has been replaced by the MorphML, ChannelML etc. specs. This file is for reference only.</xsd:documentation>
         </xsd:annotation>
 
 
    <xsd:complexType name="xsd:string">
        <xsd:sequence>
            <xsd:element name="unit" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:double"/>
    </xsd:complexType>
    <xsd:complexType name="DValueParameter">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="DoubleArray">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Extension">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="extensionClassName" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="GammaPDF">
        <xsd:sequence>
            <xsd:element name="rngRef" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="location" type="xsd:double"/>
        <xsd:attribute name="scale" type="xsd:double"/>
        <xsd:attribute name="shape" type="xsd:double"/>
    </xsd:complexType>
    <xsd:complexType name="IntArray">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IntParameter">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="List">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Log">
        <xsd:sequence>
            <xsd:element name="logEntries">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="logEntry" type="LogEntry"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LogEntry">
        <xsd:sequence>
            <xsd:element name="toolInfo" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="modifiedBy" type="xsd:string"/>
        <xsd:attribute name="timestamp" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="LoggedObject">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Module">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="location" type="xsd:string"/>
        <xsd:attribute name="imageUrl" type="xsd:string"/>
        <xsd:attribute name="docUrl" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Model">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ModuleRef">
        <xsd:sequence>
            <xsd:element name="module" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NamedObject">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NormalPDF">
        <xsd:sequence>
            <xsd:element name="rngRef" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="mean" type="xsd:double"/>
        <xsd:attribute name="variance" type="xsd:double"/>
    </xsd:complexType>
    <xsd:complexType name="Orientation">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="rho" type="xsd:string"/>
        <xsd:attribute name="theta" type="xsd:string"/>
        <xsd:attribute name="phi" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="PDF">
        <xsd:sequence>
            <xsd:element name="rngRef" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Parameter">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Pkg">
        <xsd:complexContent>
            <xsd:extension base="Pkg">
                <xsd:sequence>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="RNG">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="seed" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="RandomVariable">
        <xsd:sequence>
            <xsd:element name="pdf" type="PDF"/>
            <xsd:element name="unit" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Ref">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Set">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SimpleParameter">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="StringArray">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="StringParameter">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="value" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ToolInfo">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="version" type="xsd:string"/>
        <xsd:attribute name="toolLocation" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="UniformPDF">
        <xsd:sequence>
            <xsd:element name="rngRef" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="min" type="xsd:double"/>
        <xsd:attribute name="max" type="xsd:double"/>
    </xsd:complexType>
    <xsd:complexType name="Unit">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="M" type="xsd:int"/>
        <xsd:attribute name="L" type="xsd:int"/>
        <xsd:attribute name="T" type="xsd:int"/>
        <xsd:attribute name="C" type="xsd:int"/>
        <xsd:attribute name="K" type="xsd:int"/>
        <xsd:attribute name="Navagadro" type="xsd:int"/>
        <xsd:attribute name="elec" type="xsd:int"/>
        <xsd:attribute name="ten" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="AbstractNeuron">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CableNeuron">
        <xsd:sequence>
            <xsd:element name="structure" type="NeuronStructure"/>
            <xsd:element name="masks">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="mask" type="Mask"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="channelAssignments">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="channelAssignment" type="ChannelAssignment"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NeuronModule">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="location" type="xsd:string"/>
        <xsd:attribute name="imageUrl" type="xsd:string"/>
        <xsd:attribute name="docUrl" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ModuleNeuron">
        <xsd:sequence>
            <xsd:element name="module" type="ModuleRef"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CellPkg">
        <xsd:complexContent>
            <xsd:extension base="Pkg">
                <xsd:sequence>
                    <xsd:element name="solutions">
                        <xsd:complexType>
                            <xsd:sequence maxOccurs="unbounded">
                                <xsd:element name="solution" type="Solution"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="sectionProperties">
                        <xsd:complexType>
                            <xsd:sequence maxOccurs="unbounded">
                                <xsd:element name="sectionProperty" type="SectionProperties"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="neurons">
                        <xsd:complexType>
                            <xsd:sequence maxOccurs="unbounded">
                                <xsd:element name="neuron" type="AbstractNeuron"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="structures">
                        <xsd:complexType>
                            <xsd:sequence maxOccurs="unbounded">
                                <xsd:element name="structure" type="NeuronStructure"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="ChannelAssignment">
        <xsd:sequence>
            <xsd:element name="mask" type="Ref"/>
            <xsd:element name="channel" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Mask">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="functionName" type="xsd:string"/>
        <xsd:attribute name="functionExpr" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="NeuronStructure">
        <xsd:sequence>
            <xsd:element name="substructures">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="substructure" type="OrientedSubstructure"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="length" type="xsd:string"/>
        <xsd:attribute name="diam" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="OrientedSubstructure">
        <xsd:sequence>
            <xsd:element name="structureRef" type="Ref"/>
            <xsd:element name="orientation" type="Orientation"/>
        </xsd:sequence>
        <xsd:attribute name="attachmentPoint" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="PointNeuron">
        <xsd:sequence>
            <xsd:element name="parameters">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="parameter" type="SimpleParameter"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="type" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SectionProperties">
        <xsd:sequence>
            <xsd:element name="channels">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="channel" type="Channel"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="solutions">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="solution" type="Solution"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SectionSet">
        <xsd:sequence>
            <xsd:element name="sections">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="section" type="Ref"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Channel">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ChannelPkg">
        <xsd:complexContent>
            <xsd:extension base="Pkg">
                <xsd:sequence>
                    <xsd:element name="channels">
                        <xsd:complexType>
                            <xsd:sequence maxOccurs="unbounded">
                                <xsd:element name="channel" type="Channel"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="HHChannel">
        <xsd:sequence>
            <xsd:element name="permeantSpecie" type="Ref"/>
            <xsd:element name="gates">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="gate" type="HHGate"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="Erev" type="xsd:string"/>
        <xsd:attribute name="Gmax" type="xsd:string"/>
        <xsd:attribute name="ivlaw" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="HHGate">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="power" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="TabulatedHHGate">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="power" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="TabulatedHHVGate">
        <xsd:sequence>
            <xsd:element name="voltagePoints" type="DoubleArray"/>
            <xsd:element name="forwardRates" type="DoubleArray"/>
            <xsd:element name="backwardRates" type="DoubleArray"/>
        </xsd:sequence>
        <xsd:attribute name="interpolation" type="xsd:string"/>
        <xsd:attribute name="power" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="ParameterizedHHVGate">
        <xsd:sequence>
            <xsd:element name="forwardRate" type="ParameterizedHHRate"/>
            <xsd:element name="backwardRate" type="ParameterizedHHRate"/>
        </xsd:sequence>
        <xsd:attribute name="power" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="ThermodynamicHHVGate">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="forwardRate" type="xsd:string"/>
        <xsd:attribute name="backwardRate" type="xsd:string"/>
        <xsd:attribute name="gatingCharge" type="xsd:string"/>
        <xsd:attribute name="gamma" type="xsd:string"/>
        <xsd:attribute name="power" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="HHRate">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EquationHHRate">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="rateExpression" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="ParameterizedHHRate">
        <xsd:sequence>
            <xsd:element name="timeUnit" type="Ref"/>
            <xsd:element name="voltageUnit" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="A" type="xsd:double"/>
        <xsd:attribute name="B" type="xsd:double"/>
        <xsd:attribute name="C" type="xsd:double"/>
        <xsd:attribute name="D" type="xsd:double"/>
        <xsd:attribute name="E" type="xsd:double"/>
        <xsd:attribute name="F" type="xsd:double"/>
    </xsd:complexType>
    <xsd:complexType name="KSChannel">
        <xsd:sequence>
            <xsd:element name="states">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="state" type="KSState"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="transitions">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="transition" type="KSTransition"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="pore" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="KSState">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="relativeConductance" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="KSTransition">
        <xsd:sequence>
            <xsd:element name="sourceState" type="Ref"/>
            <xsd:element name="targetState" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="KSTDepTransition">
        <xsd:sequence>
            <xsd:element name="sourceState" type="Ref"/>
            <xsd:element name="targetState" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="alpha" type="xsd:string"/>
        <xsd:attribute name="beta" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="KSVDepTransition">
        <xsd:sequence>
            <xsd:element name="sourceState" type="Ref"/>
            <xsd:element name="targetState" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="z" type="xsd:string"/>
        <xsd:attribute name="gamma" type="xsd:string"/>
        <xsd:attribute name="r_max" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="KSConcDepTransition">
        <xsd:sequence>
            <xsd:element name="specie" type="Ref"/>
            <xsd:element name="sourceState" type="Ref"/>
            <xsd:element name="targetState" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="Kd" type="xsd:string"/>
        <xsd:attribute name="tau" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="KSRelativeTransition">
        <xsd:sequence>
            <xsd:element name="transition" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="forwardFactor" type="xsd:double"/>
        <xsd:attribute name="backwardFactor" type="xsd:double"/>
    </xsd:complexType>
    <xsd:complexType name="Pore">
        <xsd:sequence>
            <xsd:element name="permeators">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="permeator" type="PorePermeator"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="ivlaw" type="xsd:string"/>
        <xsd:attribute name="Erev" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="PorePermeator">
        <xsd:sequence>
            <xsd:element name="specie" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="conductance" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Solution">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="ionName" type="xsd:string"/>
        <xsd:attribute name="valency" type="xsd:int"/>
        <xsd:attribute name="initialConcentration" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Specie">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="symbol" type="xsd:string"/>
        <xsd:attribute name="valency" type="xsd:int"/>
        <xsd:attribute name="mobility" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="Element">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ElementRef">
        <xsd:sequence>
            <xsd:element name="elementClass" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Network">
        <xsd:sequence>
            <xsd:element name="elements">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="element" type="ElementRef"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="projections">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="projection" type="Projection"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Projection">
        <xsd:sequence>
            <xsd:element name="source" type="Ref"/>
            <xsd:element name="dest" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Connection">
        <xsd:sequence>
            <xsd:element name="source" type="Ref"/>
            <xsd:element name="dest" type="Ref"/>
        </xsd:sequence>
        <xsd:attribute name="sourcePort" type="xsd:string"/>
        <xsd:attribute name="destPort" type="xsd:string"/>
        <xsd:attribute name="delay" type="xsd:string"/>
        <xsd:attribute name="weight" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="HighLevelProjection">
        <xsd:sequence>
            <xsd:element name="linktype" type="Projection"/>
            <xsd:element name="source" type="Ref"/>
            <xsd:element name="dest" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="NetworkPkg">
        <xsd:complexContent>
            <xsd:extension base="Pkg">
                <xsd:sequence>
                    <xsd:element name="networks">
                        <xsd:complexType>
                            <xsd:sequence maxOccurs="unbounded">
                                <xsd:element name="network" type="Network"/>
                            </xsd:sequence>
                        </xsd:complexType>
                    </xsd:element>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="RawProjection">
        <xsd:sequence>
            <xsd:element name="connections">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="connection" type="Connection"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="source" type="Ref"/>
            <xsd:element name="dest" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ModuleProjection">
        <xsd:sequence>
            <xsd:element name="module" type="ModuleRef"/>
            <xsd:element name="source" type="Ref"/>
            <xsd:element name="dest" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DestMethod">
        <xsd:sequence>
            <xsd:element name="module" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DestMethodModule">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="location" type="xsd:string"/>
        <xsd:attribute name="imageUrl" type="xsd:string"/>
        <xsd:attribute name="docUrl" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="IndexedDimension">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="size" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="EnumeratedDimension">
        <xsd:sequence>
            <xsd:element name="labels" type="StringArray"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Population">
        <xsd:sequence>
            <xsd:element name="structure" type="Grid1DStructure"/>
            <xsd:element name="elementClass" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SourceMethod">
        <xsd:sequence>
            <xsd:element name="module" type="Ref"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SourceMethodModule">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="location" type="xsd:string"/>
        <xsd:attribute name="imageUrl" type="xsd:string"/>
        <xsd:attribute name="docUrl" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="PopulationStructure">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="IndexedStructure">
        <xsd:sequence>
            <xsd:element name="dimensions">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="dimension" type="IndexedDimension"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="ndims" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="Grid1DStructure">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="size" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="Grid3DStructure">
        <xsd:sequence>
        </xsd:sequence>
        <xsd:attribute name="xsize" type="xsd:int"/>
        <xsd:attribute name="ysize" type="xsd:int"/>
        <xsd:attribute name="zsize" type="xsd:int"/>
    </xsd:complexType>
    <xsd:complexType name="EnvironmentPkg">
        <xsd:complexContent>
            <xsd:extension base="Pkg">
                <xsd:sequence>
                    <xsd:element name="io" type="IOPkg"/>
                    <xsd:element name="schedule" type="Schedule"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
<xsd:element name="neuroml" type="Pkg" >
</xsd:element>
</xsd:schema>
